{% extends "base.html" %}
    {% block title %}
        Expenditure Tracker - Tracker Page
    {% endblock %}

    {% block body %}

        <h3 class="welcome-msg">Welcome, {{ user.name }} </h3>
        
        
        {% if editing_item %}
            
            <h4> Edit Expense</h4>
            <div class="inline-form">
            <form method="POST" action="{{ url_for('edit',item_id = editing_item.id) }}", class="expense-form">
                <input type="text" name="itemname" class="box" placeholder="Enter the Description of Expenditure" value="{{ editing_item.itemname}}" required>
                <input type="number" name="amount" step="0.01" class="price" placeholder="Enter the Amount" value="{{ editing_item.amount}}" required>
                <input type="date" name="date" class="dateofexpenditure" value="{{ editing_item.date.strftime('%Y-%m-%d') }}" required>
                <button class="add">Update</button>
            </form>
            </div>

        {% else %}
            
            
            <h4>Add a new Expense</h4>
            <br>
            <div class="inline-form">
                
                <form method="POST" action="{{ url_for('tracker') }}" class="expense-form">
                    <input type="text" name="itemname" class="box" placeholder="Enter the Description of Expenditure" required>
                    <input type="number" name="amount" step="0.01" class="price" placeholder="Enter the Amount" required>
                    <input type="date" name="date" class="dateofexpenditure" required>
                    <button class="add">Add</button>
                </form>  
            </div>
        {% endif %}
        <hr>

        <form action="/generate_report" method="POST" class="report-form">
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" class="dateofexpenditure" name="start_date" required>

            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" class="dateofexpenditure" name="end_date" required>

            <button type="submit" class="add">Generate Report</button>
        </form> 

        <hr>
        <h4>Your Expenses</h4>     
        <div class="expense-container">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">ItemName</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{item.itemname}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.date}}</td>  
                        <td>
                            <a href="{{ url_for('edit',item_id = item.id) }}" class="btn-edit">Edit</a>
                            <a href="{{ url_for('delete',item_id=item.id) }}" class="btn-edit" onclick="return confirm('Sure! Want to delete this item');">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% endblock %}

